:root {
    --yellow: #ffd500;
    --blue: #006CB6;
    --red: #CB1211;
    --font-primary: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: var(--red);
    text-decoration: none;
}

a:hover {
    color: var(--blue);
    text-decoration: 8px underline;
}

html {
    font-size:62.5%;
    font-family: var(--font-primary);
}

body {
    font-size: 1.6rem;
    height: 100vh;
}

.page {
    position: relative;
    height: 100vh;
    width: 100vw;
}

.loader {
    background: white;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 3;

    animation: loader 2s linear forwards;
}

@keyframes loader {
    0% {
        opacity: 1;
        visibility: visible;
    }
    95% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.loader div {
    background: var(--blue);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 10px;

    transform: scale(0);

    animation: scaling 2s ease-in-out  infinite;
}

.loader div:nth-child(1) {
    animation-delay: 0.2s;
}

.loader div:nth-child(2) {
    animation-delay: 0.4s;
}

.loader div:nth-child(3) {
    animation-delay: 0.6s;
}

@keyframes scaling {
    0% {
        transform: scale(0.2);
    }
    40% {
        transform: scale(1)
    }
    50% {
        transform: scale(1)
    }
    100% {
        transform: scale(0.2)
    }
}

.container {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-columns: 55% 45%;
    grid-template-rows: 20% 50% 30%;
    grid-template-areas:"nav     aside"
                        "section aside"
                        "footer  aside";
}

.header-container {
    display: flex;
    align-items: center;
    background: var(--yellow);
    grid-area: nav;
    padding-left: 80px;
}

.navbar__content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    animation: 2.5s down 0.5s ease-in-out;
}

@keyframes down {
    0% {
        transform: translateY(-400px);
    }
    100% {
        transform: translateY(0px)
    }
}

.navbar__content ul {
    display: flex;
    flex-direction: row;
}

.navbar__content ul li {
    list-style: none;
    margin-left:20px
}

.logo {
    background-image: url(https://i.ibb.co/MMmDPXN/lego.png);
    width: 50px;
    height: 50px;
    background-size: cover;
}

/* -------------------------------------------- */

.main-container {
    grid-area: section;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 80px;

    animation: 2.5s down 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.main-container p:nth-child(1) {
    font-size: 2.4rem;
    font-weight: 300;
    margin-left: 40px;
    margin-bottom: -20px;
}

.main-container p:nth-child(2) {
    font-size: 2.4rem;
    font-weight: 100;
    margin-left: 40px;
}

.main-container h1 {
    font-size: 4.4rem;
    font-weight: 800;
    margin-bottom: 30px
}

/* -------------------------------------------- */

.side-container {
    grid-area: aside;
    display: grid;
    grid-template-columns: repeat(6, 16.6%);
    align-items: center;
}


.side-container p {
    font-size: 3.4rem;
    height: 55px;
    transform: rotate(-90deg);
    grid-column: 1 / 2;
    grid-row: 1 / 2;

    opacity: 0;

    animation-name: side-content-tex;
    animation-duration: 0.5s;
    animation-delay: 2.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes side-content-tex {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.superman {
    height: 700px;
    grid-column: 2 / 6;
    grid-row: 1 / 2;
    z-index: 2;
    opacity: 0;
    animation: fly 2s cubic-bezier(0.68, -0.55, 0.27, 1.55) 2s forwards;
}

@keyframes fly {
    0% {
        opacity: 1;
        transform: translateY(850px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}


.yellow {
    background-color: var(--yellow);
    grid-column: 4 / 8;
    grid-row: 1 / 2;
    height:100%;
}
